@media (prefers-color-scheme: dark) {
    body {
        background: black
    }
    h1, p {
        color: white
    }
}

@media (prefers-color-scheme: white) {
    body {
        background: white
    }
    h1, p {
        color: black
    }
}